<section
	fxLayout="column"
	fxLayoutGap.xs="16px"
	fxLayoutGap.sm="32px"
	fxLayoutGap.gt-sm="64px"
	fxFlex="100vw">
	<div fxLayout="row">
		<div
			fxLayout="column"
			fxFlex="512px"
			class="mat-typography">
			<h2 class="mat-display-1">
				Contact
			</h2>
			<p class="mat-subheading-1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae consequatur, doloremque esse eum exercitationem, expedita explicabo facilis fugiat iste minus modi natus neque nobis non odio possimus quia quis suscipit totam. A optio pariatur tempore! Accusantium nostrum provident rem.
			</p>
		</div>
	</div>
</section>