<mat-sidenav-container>
	<mat-sidenav-content>
		<mat-toolbar
			fxLayout="row"
			fxHide.lt-sm
			class="mat-elevation-z8">
			<div
				fxLayout="row"
				fxLayoutAlign="space-between"
				style="width: 100%; height: 36px;">
				<div fxLayout="row">
					<a
						routerLink="/"
						fxHide.lt-sm>
						The Relationship Foundation
					</a>
				</div>
				<div
					fxLayout="row"
					fxLayoutGap="14px"
					fxHide.lt-md>
					<a
						routerLink="/about"
						mat-button>
						About
					</a>
					<a
						routerLink="/resources"
						mat-button>
						Resources
					</a>
					<a
						routerLink="/contact"
						mat-button>
						Contact
					</a>
					<button
						mat-raised-button
						color="primary">
						Donate
					</button>
				</div>
				<div
					fxLayout="row"
					fxLayoutGap="14px"
					fxHide.gt-sm>
					<button
						mat-mini-fab
						color="primary"
						(click)="sidenav.open();">
						<mat-icon fontSet="material-icons-round">
							explore
						</mat-icon>
					</button>
				</div>
			</div>
		</mat-toolbar>

		<router-outlet></router-outlet>
		<footer>
			<div
				fxLayout.gt-sm="row"
				fxLayout.lt-md="column"
				fxLayoutAlign.gt-sm="space-between"
				fxLayoutGap.xs="16px"
				fxLayoutGap.sm="32px"
				fxLayoutGap.gt-sm="64px"
				style="width: 100%">
				<div
					fxLayout.gt-sm="column"
					fxLayout.lt-md="row">
					<div class="mat-typography">
						<h3>
							The Relationship Foundation
						</h3>
						<p>
							A registered 501(c)(3) non-profit organization.
						</p>
						<p>
							<span>
								321 East 10th Street #3E
							</span>
							<br>
							<span>
								New York, NY 10009
							</span>
							<br>
							<span>
								USA
							</span>
						</p>
						<p style="margin-bottom: 0;">
							<a href="tel:+1 (212) 477-0522">
								+1 (212) 477-0522
							</a>
						</p>
					</div>
				</div>
				<div
					fxLayout.gt-sm="column"
					fxLayout.lt-md="row">
					<mat-nav-list
						fxLayout="column"
						fxFlex>
						<a
							routerLink="/"
							mat-list-item>
							Home
						</a>
						<a
							routerLink="/about"
							mat-list-item>
							About
						</a>
						<a
							routerLink="/resources"
							mat-list-item>
							Resources
						</a>
						<a
							routerLink="/contact"
							mat-list-item>
							Contact
						</a>
					</mat-nav-list>
				</div>
			</div>
		</footer>

		<button
			fxHide.gt-xs
			mat-fab
			color="primary"
			(click)="sidenav.open();">
			<mat-icon fontSet="material-icons-round">
				explore
			</mat-icon>
		</button>
	</mat-sidenav-content>
	<mat-sidenav
		#sidenav
		position="end">
		<div
			fxLayout="column"
			fxFlex="100vw">
			<mat-toolbar
				fxLayout="row"
				fxHide.lt-sm
				class="mat-elevation-z8">
				<div
					fxLayout="row"
					fxLayoutAlign="space-between"
					style="width: 100%; height: 36px;">
					<span>
						The Relationship Foundation
					</span>
					<button
						mat-mini-fab
						color="accent"
						(click)="sidenav.close();">
						<mat-icon fontSet="material-icons-round">
							close
						</mat-icon>
					</button>
				</div>
			</mat-toolbar>

			<div
				fxLayout="row"
				[ngStyle.xs]="{'padding.px': 32}"
				[ngStyle.sm]="{'padding.px': 64}"
				[ngStyle.gt-sm]="{'padding.px': 128}">
				<div
					fxLayout="column"
					fxLayoutGap.xs="16px"
					fxLayoutGap.sm="32px"
					fxLayoutGap.gt-sm="64px"
					fxFlex>
					<h1
						fxLayout="row"
						class="mat-display-1"
						style="max-width: 12em; margin-bottom: 0;">
						Explore
					</h1>
					<div fxLayout="row">
						<mat-nav-list
							fxLayout="column"
							fxFlex>
							<a
								routerLink="/"
								(click)="sidenav.close();"
								mat-list-item>
								Home
							</a>
							<a
								routerLink="/about"
								(click)="sidenav.close();"
								mat-list-item>
								About
							</a>
							<a
								routerLink="/resources"
								(click)="sidenav.close();"
								mat-list-item>
								Resources
							</a>
							<a
								routerLink="/contact"
								(click)="sidenav.close();"
								mat-list-item>
								Contact
							</a>
						</mat-nav-list>
					</div>
				</div>
			</div>

			<button
				fxHide.gt-xs
				mat-fab
				color="accent"
				class="app-exit-sidenav-button"
				(click)="sidenav.close();">
				<mat-icon fontSet="material-icons-round">
					close
				</mat-icon>
			</button>
		</div>
	</mat-sidenav>
</mat-sidenav-container>
