mat-sidenav-container
	width: 100vw
	height: 100vh

	& > mat-sidenav-content
		mat-toolbar
			a:not(.mat-button-base)
				font-weight: inherit

		& > button
			position: fixed

	& > mat-sidenav-content > button,
	& > mat-sidenav button.app-exit-sidenav-button
		bottom: 16px
		right: 16px

	& > mat-sidenav
		width: 100vw

		button.app-exit-sidenav-button
			position: absolute