<mat-sidenav-container style="width: 100vw;">
	<mat-sidenav-content>
		<div
			fxLayout="row">
			<mat-toolbar
				fxLayout="column"
				fxFlex

				[ngClass.lt-md]="{'mat-toolbar--background-transparent': true}"

				style="z-index: 999;">
				<mat-toolbar-row fxLayoutAlign="space-between">
					<div
						fxLayout="column"
						fxLayoutAlign="center"
						fxHide.gt-sm
						style="margin: 0 1rem;">
						<div fxLayout="row">
							<a
								routerLink="/">
								The Relationship Foundation
							</a>
						</div>
					</div>
					<div
						fxLayout="column"
						fxLayoutAlign="center"
						fxFlex
						fxHide.lt-md>
						<div
							fxLayout="row"
							fxLayoutGap="14px">
							<button
								mat-button
								[matMenuTriggerFor]="aboutMenu">
								About
								<mat-icon fontSet="material-icons-round">
									expand_more
								</mat-icon>
							</button>
							<mat-menu #aboutMenu="matMenu">
								<ng-template matMenuContent>
									<a
										routerLink="/about"
										fragment="mission"
										mat-menu-item>
										Mission
									</a>
									<a
										routerLink="/about"
										fragment="curriculum"
										mat-menu-item>
										Curriculum
									</a>
									<a
										routerLink="/about"
										fragment="team"
										mat-menu-item>
										Team
									</a>
									<a
										routerLink="/about"
										fragment="board"
										mat-menu-item>
										Board
									</a>
								</ng-template>
							</mat-menu>
							<button
								mat-button
								[matMenuTriggerFor]="resourcesMenu">
								Resources
								<mat-icon fontSet="material-icons-round">
									expand_more
								</mat-icon>
							</button>
							<mat-menu #resourcesMenu="matMenu">
								<ng-template matMenuContent>
									<a
										routerLink="/resources"
										mat-menu-item>
										Webinars
									</a>
									<a
										routerLink="/resources"
										mat-menu-item>
										Nonviolent communication
									</a>
									<a
										routerLink="/resources"
										mat-menu-item>
										Trauma & resilience
									</a>
								</ng-template>
							</mat-menu>
							<a
								routerLink="/contact"
								mat-button>
								Contact
							</a>
						</div>
					</div>
					<div
						fxLayout="column"
						fxLayoutAlign="center">
						<button
							mat-button
							fxHide.lt-md>
							Log in
						</button>
						<button
							mat-mini-fab
							color="primary"
							fxHide.gt-sm
							(click)="sidenav.open();">
							<mat-icon fontSet="material-icons-round">
								explore
							</mat-icon>
						</button>
					</div>
				</mat-toolbar-row>
			</mat-toolbar>
		</div>

		<div
			id="homepage-anchor-container"
			fxLayout="row"
			fxHide.lt-md>
			<div
				fxLayout="column"
				class="mat-typography">
				<h3
					class="mat-subheading-2"
					style="font-size: 1.75rem; z-index: 999;">
					<a
						routerLink=""
						[ngClass]="{'homepage-anchor--hide-animation': firstSectionHasImage$ | async}">
						The Relationship Foundation
					</a>
				</h3>
			</div>
		</div>

		<div
			id="outlet-container"
			fxLayout="row">
			<router-outlet></router-outlet>
		</div>

		<footer fxLayout="row">
			<div
				fxLayout.gt-sm="row"
				fxLayout.lt-md="column-reverse"

				fxLayoutAlign.gt-sm="space-between"

				fxLayoutGap="2rem"

				style="width: 100%">
				<div
					fxLayout.gt-sm="column"
					fxLayout.lt-md="row">
					<div
						fxLayout="column"
						class="mat-typography">
						<h3>
							The Relationship Foundation
						</h3>
						<p>
							A registered 501(c)(3) non-profit organization.
						</p>
						<p>
							<span>
								321 East 10th Street #3E
							</span>
							<br>
							<span>
								New York, NY 10009
							</span>
							<br>
							<span>
								USA
							</span>
						</p>
						<p>
							<a
								href="tel:+1 (212) 477-0522"
								class="background-app-bar">
								+1 (212) 477-0522
							</a>
						</p>
					</div>
				</div>
				<div
					fxLayout.gt-sm="column"
					fxLayout.lt-md="row">
					<mat-nav-list
						fxLayout="column"
						fxLayoutAlign="end"
						fxFlex
						style="margin: -1rem;">
						<a
							routerLink="/"
							mat-list-item>
							Home
						</a>
						<a
							routerLink="/about"
							mat-list-item>
							About
						</a>
						<a
							routerLink="/resources"
							mat-list-item>
							Resources
						</a>
						<a
							routerLink="/contact"
							mat-list-item>
							Contact
						</a>
					</mat-nav-list>
				</div>
			</div>
		</footer>
	</mat-sidenav-content>
	<mat-sidenav
		#sidenav
		position="end"
		fixedInViewport
		style="width: 100vw;">
		<div fxLayout="row">
			<mat-toolbar
				fxLayout="column"
				fxFlex>
				<mat-toolbar-row fxLayoutAlign="space-between">
					<div
						fxLayout="column"
						fxLayoutAlign="center">
						<span>
							Explore
						</span>
					</div>
					<div
						fxLayout="column"
						fxLayoutAlign="center">
						<button
							mat-mini-fab
							fxHide.gt-sm
							(click)="sidenav.close();">
							<mat-icon fontSet="material-icons-round">
								close
							</mat-icon>
						</button>
					</div>
				</mat-toolbar-row>
			</mat-toolbar>
		</div>

		<section fxLayout="row">
			<mat-nav-list
				fxLayout="column"
				fxFlex
				style="margin: -1rem;">
				<a
					routerLink="/"
					(click)="sidenav.close();"
					mat-list-item>
					Home
				</a>
				<a
					routerLink="/about"
					(click)="sidenav.close();"
					mat-list-item>
					About
				</a>
				<a
					routerLink="/resources"
					(click)="sidenav.close();"
					mat-list-item>
					Resources
				</a>
				<a
					routerLink="/contact"
					(click)="sidenav.close();"
					mat-list-item>
					Contact
				</a>
			</mat-nav-list>
		</section>
	</mat-sidenav>
</mat-sidenav-container>
