<section
	fxLayout="row"
	style="background: url('https://via.placeholder.com/1920x1080') center/cover no-repeat;">
	<div
		fxLayout="column"
		fxFlex="0 1 24rem"
		class="mat-typography">
		<h2 class="mat-display-1">
			Lorem ipsum dolor sit amet.
		</h2>
		<p
			class="mat-subheading-1"
			style="margin-bottom: 0;">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores cupiditate libero, nostrum numquam odio sequi unde ut vitae.
		</p>
	</div>
</section>
<section fxLayout="row">
	<div
		fxLayout="column"
		fxFlex>
		<div
			fxLayout="row wrap"
			fxLayoutGap="2rem grid">
			<div
				fxLayout="column"
				style="flex: 1 1 min(100%, 48rem); margin-left: -2rem;">
				<mat-card class="mat-card--flat-left-edge">
					<youtube-player videoId="tWdPaLGdZCw"></youtube-player>
				</mat-card>
			</div>
			<div
				fxLayout="column"
				fxFlex="0 1 24rem"
				class="mat-typography">
				<p class="mat-caption">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</p>
				<h2 class="mat-display-1">
					Lorem ipsum dolor sit amet.
				</h2>
				<p
					class="mat-subheading-1"
					style="margin-bottom: 0;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet asperiores cupiditate libero, nostrum numquam odio sequi unde ut vitae.
				</p>
			</div>
		</div>
	</div>
</section>